<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="23" id="com.my.new.app" ios-CFBundleVersion="1.0.0" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>New name</name>
    <description>New desc</description>
    <author email="new@email" href="http://newwebsite.com">New name</author>
    <content src="plugins/cordova-plugin-chrome-apps-bootstrap/chromeapp.html" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="www/chrome-apps/icons/icon144.png" />
        <icon src="www/chrome-apps/icons/icon16.png" width="16" />
        <icon src="www/chrome-apps/icons/icon36.png" width="36" />
        <icon src="www/chrome-apps/icons/icon48.png" width="48" />
        <icon src="www/chrome-apps/icons/icon57.png" width="57" />
        <icon src="www/chrome-apps/icons/icon72.png" width="72" />
        <icon src="www/chrome-apps/icons/icon96.png" width="96" />
        <icon src="www/chrome-apps/icons/icon114.png" width="114" />
        <icon src="www/chrome-apps/icons/icon128.png" width="128" />
        <icon src="www/chrome-apps/icons/icon144.png" width="144" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon src="www/chrome-apps/icons/icon144.png" />
        <icon src="www/chrome-apps/icons/icon16.png" width="16" />
        <icon src="www/chrome-apps/icons/icon36.png" width="36" />
        <icon src="www/chrome-apps/icons/icon48.png" width="48" />
        <icon src="www/chrome-apps/icons/icon57.png" width="57" />
        <icon src="www/chrome-apps/icons/icon72.png" width="72" />
        <icon src="www/chrome-apps/icons/icon96.png" width="96" />
        <icon src="www/chrome-apps/icons/icon114.png" width="114" />
        <icon src="www/chrome-apps/icons/icon128.png" width="128" />
        <icon src="www/chrome-apps/icons/icon144.png" width="144" />
    </platform>
    <preference name="android-minSdkVersion" value="14" />
    <access origin="*" />
    <hook src="../bin/remove-archives.js" type="before_prepare" />
    <preference name="new-name" value="new-value" />
    <access origin="new-origin" />
    <access origin="**" />
    <hook src="script/after_prepare.js" type="after_prepare" />
</widget>
